.logo {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
  --logo-background-color: hsl(0 0% var(--ligthness));
  --image-font-size: 0.9375em;
  --logo-letter-spacing: -0.14em;
  --image-padding: calc(2 / 18.75 * 1em) calc(6 / 18.75 * 1em) 0;
  display: inline-flex;
  white-space: nowrap;
  text-decoration: none;
  font-family: var(--font-family);
  color: inherit;
}

.logo__image {
  align-self: center;
  box-sizing: border-box;
  padding: var(--image-padding);
  display: inline-grid;
  place-items: center;
  background-color: var(--logo-background-color);
  border-radius: 2em;
}

.logo__symbols {
  margin-right: calc(var(--logo-letter-spacing) * -1);
  font-size: var(--image-font-size);
  line-height: 1;
  letter-spacing: var(--logo-letter-spacing);
  text-decoration: none;
}

.logo__eye {
  position: relative;
  top: -0.05em;
}

.logo__text {
  --stroke-width: 2px;
  margin-left: 6px;
  align-self: baseline;
  text-underline-offset: 0.2em;
}

.logo__text::first-letter {
  font-feature-settings: 'ss01' on;
}

.logo--color-contrast {
  --ligthness: calc(var(--is-light-theme-on) * 100%);
}

.logo--color-fade {
  --ligthness: calc(var(--is-light-theme-on) * 90% + var(--is-dark-theme-on) * 25%);
}

/* Новогодняя раскраска Булочки */
.logo__image--rudolf {
  --ny-color: #ff0081;

  position: relative;
  transition: box-shadow linear 0.1s;
}

.logo__image--rudolf::before,
.logo__image--rudolf::after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
  pointer-events: none;
}

.logo__image--rudolf::before {
  display: none;
  top: -75%;
  background-image:
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--ny-color) 20%, transparent 30%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--ny-color) 15%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%);
  background-size:
    10% 10%,
    20% 20%,
    15% 15%,
    20% 20%,
    18% 18%,
    10% 10%,
    15% 15%,
    10% 10%,
    18% 18%;
}

.logo__image--rudolf::after {
  display: none;
  bottom: -75%;
  background-image:
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--ny-color) 15%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%),
    radial-gradient(circle, var(--ny-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.logo__image--rudolf:hover {
  box-shadow: 0 0 1px 1px var(--ny-color);
}

.logo__image--rudolf:hover::before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.logo__image--rudolf:hover::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }

  50% {
    background-position:
      0 80%,
      0 20%,
      10% 40%,
      20% 0,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }

  100% {
    background-position:
      0 70%,
      0 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0;
  }

  50% {
    background-position:
      0 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0;
  }

  100% {
    background-position:
      0 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
}
